<div class="row">
  <!-- Left-hand unit domain selection menu -->
  <div class="col-xs-3 category-select">
    <ul class="nav nav-pills nav-stacked">
      <li routerLinkActive="active"><a routerLink="/tables/length">Length</a></li>
      <li routerLinkActive="active"><a routerLink="/tables/area">Area</a></li>
      <li routerLinkActive="active"><a routerLink="/tables/mass">Mass</a></li>
    </ul>
  </div>
  <!-- End left-hand unit domain selection menu -->
  <div class="col-xs-9">
    <div *ngIf="error">
      <b>{{ error.err }}</b> {{ error.msg }}
    </div>
    <table *ngIf="table" class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th *ngIf="!selectedUnit" data-tooltip="Click anywhere on a row to select the input unit">In {{ table[0].base }}s</th>
          <th *ngIf="selectedUnit">
            <span *ngIf="!inputValue">1 </span> 
            <span *ngIf="inputValue">{{ inputValue | number }}</span>
            {{selectedUnit.name}} equals
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of table"
            (click)="onSelectRow(a.name)"
            [class.selected]="isSelected(a.name)">
          <td> {{ a.name }} </td>
          <td *ngIf="!selectedUnit"> {{ a.baseValue }} </td>
          <td *ngIf="selectedUnit">
            <span *ngIf="!inputValue">
              {{ selectedUnit.baseValue / a.baseValue }}
            </span>
            <span *ngIf="inputValue">
              {{ selectedUnit.baseValue / a.baseValue * inputValue }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>