<div class="panel panel-default results-panel">
  <div class="panel-body">
    <div class="row results-display">
      <div class="col-xs-5">
        <div class="blue">
          <span *ngIf="inputValue">
            {{ inputValue | number }} 
          </span>
          {{ selectedUnit?.name }}
        </div>
      </div>
      <div class="col-xs-2">
        =
      </div>
      <div class="col-xs-5">
        <div class="red">
          <span *ngIf="inputValue">
            {{ (selectedUnit?.baseValue / outputVal?.baseValue * inputValue)
            | number:'1.0-5' }}
          </span> 
          {{ outputVal?.name }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="inputVal">Input value</label>
      <input type="number"
            #myValue
            (keyup)="setValue(myValue.value)"
            id="inputVal"
            class="form-control"
            placeholder="Numerical value to convert">
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-3 category-select">
    <ul class="nav nav-pills nav-stacked">
      <li routerLinkActive="active"><a routerLink="/tables/length">Length</a></li>
      <li routerLinkActive="active"><a routerLink="/tables/area">Area</a></li>
      <li routerLinkActive="active"><a routerLink="/tables/mass">Mass</a></li>
    </ul>
  </div>
  <div class="col-xs-9">
    <div *ngIf="error">
      <b>{{ error.err }}</b> {{ error.msg }}
    </div>
    <table *ngIf="table" class="table table-hover">
      <thead>
        <tr>
          <th><span class="tip"
                    *ngIf="!outputVal" 
                    data-tooltip="Click 'Set' in this column to select output unit"></span></th>
          <th>Name</th>
          <th *ngIf="!selectedUnit" data-tooltip="Click anywhere on a row to select the input unit">In {{ table[0].base }}s</th>
          <th *ngIf="selectedUnit">
            <span *ngIf="!inputValue">1 </span> 
            <span *ngIf="inputValue">{{ inputValue | number }}</span>
            {{selectedUnit.name}} equals
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of table"
            (click)="onSelectRow(a.name)"
            [class.selected]="isSelected(a.name)"
            [class.output]="isOutput(a.name)">
          <td>
            <a (click)="setOutput( $event, a )">Set</a>
          </td>
          <td> {{ a.name }} </td>
          <td *ngIf="!selectedUnit"> {{ a.baseValue }} </td>
          <td *ngIf="selectedUnit">
            <span *ngIf="!inputValue">
              {{ selectedUnit.baseValue / a.baseValue }}
            </span>
            <span *ngIf="inputValue">
              {{ selectedUnit.baseValue / a.baseValue * inputValue }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>